@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
  @import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default ;

 }

 @theme{
  --font-dm:"DM Sans", sans-serif;
  --breakpoint-1xl:75rem;
  --breakpoint-xs:30rem;
  --spacing-1xl:75rem;

 }

 .mobile-alert{
  @apply max-md:grid-cols-1 max-md:grid-rows-2 max-md:-translate-x-1/2 max-md:left-1/2 max-md:bottom-30 max-md:justify-center max-md:justify-items-center max-md:gap-0 max-md:text-center
 }

